._14_2{background-color:#4287f5;}
._14_1{background-color:white;}
._18_1{flex-direction:column;}
._1_2{transition:opacity 200ms ease;}
._1_1{transition:color 200ms ease;}
._7_2{justify-content:space-evenly;}
._7_1{justify-content:center;}
._26_1{filter:invert();}
._17_2{flex-grow:4;}
._17_1{flex-grow:1;}
._10_1{width:100vw;}
._10_3{width:100%;}
._10_4{width:8rem;}
._10_2{width:11rem;}
._15_1{text-align:center;}
._23_1{gap:1rem;}
._13_1{position:fixed;}
._24_1{overflow-x:auto;}
._22_1{box-sizing:border-box;}
._12_1{padding:1rem 0rem;}
._12_2{padding:1rem;}
._8_2{box-shadow:0px 10px 30px rgba(0,0,0,0.3);}
._8_1{box-shadow:0px 0px 20px rgba(0,0,0,0.2);}
._8_3{box-shadow:0px 0px 25px rgba(0,0,0,0.2);}
._8_4{box-shadow:0px 0px 30px rgba(0,0,0,0.3);}
._9_2{color:white;}
._9_1{color:#4287f5;}
._4_1{margin:0px;}
._4_2{margin:0;}
._2_1{display:flex;}
._20_1{overflow:hidden;}
._11_1{top:0;}
._0_1{font-weight:800;}
._25_1{opacity:100%;}
._19_1{border-radius:15px;}
._16_2{height:15rem;}
._16_3{height:8rem;}
._16_1{height:100vh;}
._3_1{align-items:center;}
._5_1{cursor:pointer;}
._6_2{font-size:2rem;}
._6_3{font-size:1.5rem;}
._6_4{font-size:600%;}
._6_1{font-size:1rem;}
._21_1{flex-shrink:0;}
