html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
  overscroll-behavior-y: none;
}

* {
  font-family: "Quicksand", sans-serif;
}

.navbar-item:hover {
}
